@font-face {
	font-family: 'comic';
	src: url('../fonts/animeace2_reg.otf');

}

body {
	background-color: black;
	font-family: 'comic', Fallback, sans-serif;
}

.main {
	display: block;
	background-color: white;
	width: 100%;
	height: 32rem;
	margin: 7rem 0 0 0;
}

.ryu-box {
	float: left;
	margin: 0 0 0 10rem;
}

.ryu {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
} 

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px; 
	height: 90px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 294px;
	left: 591px;
	float: left;
}

.ryu-box, .text-box {
	display: inline;
}

.text-box {
	position: absolute;
	left: 700px;
	height: 425px;
	width: 600px;
	padding-top: 30px;
}
.text-box p {
	width: 40%;
    color: black;
    font-size: 1.825rem;
    line-height: 34px;
}

.text-box p + p {
	text-align: right;
	margin-left: 183px;
}

